.container {
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #f9f9f9;
	border-radius: 12px;
}